#whatwe
{
    padding: 80px 100px 60px 100px;
    
}
#whatwe h2
{
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
#whatwe p
{
    color: grey;
}
.item
{
    width: 25%;
    
    
    padding: 30px;

}
.item:hover img
{
    animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }
.item img
{
    width: 50%;
    border-radius:50%;

}
.container
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.container h3
{
    font-weight: 800;
}
@media screen and (max-width: 992px) 
{
   
    .item
    {
        width: 50%;
    }
}
@media screen and (max-width: 576px) 
{
    #whatwe
    {
        padding: 2em;
    }
    #whatwe p
    {
        padding: 0em 1em;
    }
    .item
    {
        width: 100%;
        padding: 1.4em;
    }
    .item img
    {
        width: 35%;
    }
}
