#statistics 
{
   

    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 560px;
    
}
#statistics h2
{
    width: 80%;
    margin: auto;
    padding-top: 120px;
    margin-bottom: 10px;
    
    text-align: center;
    color: white;
    font-size: 3em;
}
.container2
{
    display: flex;
    text-align: center;
    
}
.item2
{
    width: 25%;
    
    
}
.para1
{
    font-size: 55px;
    margin-bottom: 20px;
    color: white;

}
.para2
{
    color: white;
    
}