#statistics 
{
   

    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    
}
#statistics h2
{
    
    text-align: center;
    color: white;
    font-size: 3em;
}
.container2
{
    display: flex;
    text-align: center;
    padding: 20px;
    
}
.item2
{
    width: 25%;
    
    
}
.para1
{
    font-size: 55px;
    margin: 0px;
    color: white;

}
.para2
{
    color: white;
    
}
@media screen and (max-width: 992px) 
{
    .container2
    {
        flex-wrap: wrap;
    }
    .item2
    {
        width: 50%;
    }
}
@media screen and (max-width: 576px) 
{
    #statistics 
    {
        padding: 1em;
    }
    #statistics h2
    {
        margin: 0em;
        font-size: 2.5em;
    }
    .para1
    {
        font-size: 2.2em;
    }
    .para2
    {
        font-size: 0.9em;
        margin: 0;
    }
    .item2
    {
        width: 100%;
        margin-top: 1em;
    }
    .container2
    {
        padding-top: 0;
    }
}