#services
{
    
    height: 800px;
    width: 100%;
    background-color: rgba(192, 188, 188, 0.315);
    display: flex;
}
#left
{
  
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#right
{
   
    width: 50%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    
}
.item3
{
    width: 48%;
    margin: 5px 5px;
    background-color: white;
    text-align: center;
    
}

.item3-icon
{
    color: orange;
    font-size: 40px;
    padding-top: 30px;
}

#left p
{
    width: 55%;
    text-align: left;
    color: rgba(114, 111, 111, 0.767);
    margin: 10px 0px 10px 50px;
    font-size: 20px;
    
}
#left h2{
    width: 60%;
    font-size: 40px;
    margin: 10px 0px 30px 50px;
}
.item3 h2{
    width: 80%;
    
    margin:30px auto 30px;

}
.item3 p{
    width: 70%;
    margin: auto;
    color: rgba(114, 111, 111, 0.767);
}
#right h2
{
    font-size: 30px;
}


