#testimonials
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-bottom: 45px;
    
    
    
    
}
#testimonials h2
{
    color: white;
    font-size: 3em;
    
    
    text-align: center;
}

.container4
{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "div1 div2 div3";
    margin: 0px 180px 0px 180px;
    column-gap: 20px;
    padding: 20px 0px;
    
    
}
.container4 p
{
    width: 90%;
    margin: 20px auto 40px;
    color: white;
    font-size: 19px;

}
.container4 img
{
    border-radius: 50%;
    width: 120px;

}
.container4 h3
{
    color: orange;
    text-transform: uppercase;
    font-size: 22px;
    text-align: right;
    margin-top: 20px;
    letter-spacing: 1px;
}
.item4-1
{
    grid-area: div1;
    
    text-align: center;
}
.item4-2
{
    grid-area: div2;
    
    text-align: center;
}
.item4-3
{
    grid-area: div3;
    
    text-align: center;
}
@media screen and (max-width: 992px) 
{
    .container4
    {
        margin: 0px 45px;
    }
    .container4 h3
    {
       
        text-align: right;
    }
}