#ourblog
{
    padding: 100px;
    
}
#ourblog h2
{

    
    text-align: center;
    font-size: 50px;
}
.container5
{
    display: grid;
    
    
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: auto;
    grid-template-areas: ". item5a item5b item5c .";
    column-gap: 40px;
    

}
.container5 img
{
    width: 100%;
}
.container5 h3
{
    font-size: 24px;
    margin-top: 0px;
    font-weight: 500;
}
.content a
{
    
    color: orange;
    font-weight: 600;
    text-decoration: none;
}
.item5a
{
    grid-area: item5a;
    
    text-align: left;
    border: 1px solid rgba(153, 149, 149, 0.178);
    
}
.item5b
{
    grid-area: item5b;
    
    text-align: left;
    border: 1px solid rgba(153, 149, 149, 0.178);
}
.item5c
{
    grid-area: item5c;
    
    
    border: 1px solid rgba(153, 149, 149, 0.178);
    padding: 20px;
    
    

}
.item5a:hover 
{
    
	animation: bounce-top 0.9s both;
}
.item5b:hover
{
    animation: bounce-top 0.9s both;
}
.item5c:hover
{
    animation: bounce-top 0.9s both;
}

@keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

.content
{
    
    padding: 18px;
}
.content p
{
    color: #999;
    font-weight: 400;
    letter-spacing: 1px;
}

.item5c h5
{
    font-size: 16px;
    color: #ff9900;
    letter-spacing: 1px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: 500;
}
.blogtittle
{
    color: #1f1f1f;
    font-size: 21px;
    font-weight: 400;
    
    text-decoration: none;
    
}
a.blogtittle:hover{
    color: orange;
}

#item5clayout
{
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    
}
@media screen and (max-width: 992px) 
{
    #ourblog
    {
        padding: 60px 0px;
    }
}
@media screen and (max-width: 576px) 
{
    .container5
    {
        grid-template-columns:auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "item5a" 
        "item5b" 
        "item5c";
        padding: 0 3em;
        row-gap: 3em;
    }
    .container5 h3
    {
        font-size: 1.3em;
    }
    .item5c
    {
        padding: 0.7em;
    }
    .item5c h5
    {
        margin: 0.7em 0;
    }
    #item5clayout
    {
        justify-content: flex-start;
    }
}